<div>
    <h1 class="text-center">Listado de contactos</h1>
    <div class="mat-elevation-z8">
        <div id="agregar">
            <button mat-raised-button (click)="openDialog()">Nuevo</button>
        </div>
        <mat-form-field>            
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource">
      
          <!-- Position Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="nota">
            <th mat-header-cell *matHeaderCellDef> Nota </th>
            <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="fecha_cumpleanios">
            <th mat-header-cell *matHeaderCellDef> Fecha Cumpleaños </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha_cumpleanios}} </td>
          </ng-container>
    
          <ng-container matColumnDef="pagina_web">
            <th mat-header-cell *matHeaderCellDef> Pagina Web </th>
            <td mat-cell *matCellDef="let element"> {{element.pagina_web}} </td>
          </ng-container>
    
          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.empresa}} </td>
          </ng-container>

          <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> opciones </th>
            <td mat-cell *matCellDef="let element">
                <div class="example-button-container">                    
                    <button mat-fab (click)="editar(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab (click)="eliminar(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
          </ng-container>

          
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
</div>

  
